<h1>Food Dishes</h1>
<div>
  <% @dishes.each do |dish| %>
    <div >
          <span ><%= dish.title %></span>
          <p><%= dish.description %></p>
        </div>
        <div>
          <a class="ui button" href="/dishes/<%= dish.id %>/edit">Edit</a>
          <form action="/dishes/ <% dish.id %>"method="POST">
          <input type="hidden" name="_method" value="DELETE" />
            <button class="ui button">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>