<h1 class="headers">Sinatra's Flavors of the World</h1>
 <div class="main_body">
  <div class="box1">
 
    <h3>Create a new Dish</h3> 
    <a href="/dishes/new">New Dish</a>

  </div>
<div class="box2">
  <div class="content">
    <h3>View Dishes</h3>
    <img src="/Public/imgs/Aboutme.jpg" >
    </div>
  </div>
  <div class="home-content">
    <h2>Welcome to Sinatra's Diner!</h2>
    <hr />
    <h3>We have dishes from around the world, check out our menu!</h3>
    <p>You can look at what we offer or input your own suggestions that we may implement sometime. Probably not though...</p>
  </div>
</div>
