<h1 class="center">Sinatra's Flavors of the World</h1>
<div>
  <div> <%-# commented line -%>
    <h3>Create a new Dish</h3> 
    <a href="/dishes/new" class="btn">New Dish</a>
  </div>
</div>
<div><%-# change to something with centercardsame as above -%>
  <div ><%-# add some styling -%>
    <h3>View Dishes</h3>
    <a href="/.dishes" class="btn">All Dishes</a>
  </div>
</div>




