<h1 class="ui center aligned segment">Sinatra's Flavors of the World</h1>
<div>
 
    <h3>Create a new Dish</h3> 
    <a href="/dishes/new">New Dish</a>

</div>
<div class="ui fluid card">
  <div class="content">
    <h3>View Dishes</h3>
    <a href="/.dishes" class="btn">All Dishes</a>
    </div>
  </div>
</div>
