<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Dishes</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/dishes">My Dishes</a></li>
      <li><a href="/apps/new">New Dish</a></li>
    </ul>
  </div>
</nav>