<nav>
  <div class="ui three item menu">
    <a href ="/" class = "item">Dishes</a>
      <a href="/dishes" class="item" >My Dishes</a>
      <a href="/dishes/new" class="item">New Dish</a>
  </div>
</nav>