.background{
  background-color: #ffcdd2;
}
.imgs{
  border-radius: 50px;
}
.headers{
  display:flex;
  justify-content: center;
  background-color: #fafafa;
  padding-bottom: 10px;

}
.main_body {
  display:flex;
  justify-content: space-between;
  background-color: #fafafa;
  height: 792px;
}

.box1, 
.box2 { 
  background-color: #e8f5e9;
  display:flex; 
  border-radius:20px;
    
}